@import 'bourbon/bourbon'
body
  background-color: black !important
  font-family: 'Raleway', sans-serif
.navbar

    a
      color: #888 !important
      opacity: 0.7 !important
      transition: all 0.5s ease
      &:hover
        opacity: 1 !important
        color: white !important


.gallery
  margin-top: 80px
  h2
    color: #888

    font-size: 22px

    text-align: center
  img
    margin: 40px auto
    border: 1px solid #777
    transition: all 0.5s ease
    &:hover
      opacity: 0.6

  hr
    margin: 100px auto 50px
    color: #888
    height: 1px
    width: 50%
    min-width: 280px

// FOOTER

.footer
  background-color: #1b6c62
  margin-top: 80px
  padding-top: 100px
  padding-bottom: 80px

  h3
    color: white
    text-align: center
    font-weight: 300
    font-size: 18px
  p
    color: white
    text-align: center
    font-weight: 300
    font-size: 12px
    margin-top: 10px

  .hesam
    margin-top: 50px
    @media (max-width: 991px)
      margin-top: 80px

  .socialmediaHesam
    margin: 0 auto
    text-align: center
    margin-top: 20px

  a
    border-radius: 50%

    color: white
    text-align: center
    font-size: 18px
    margin: 5px

  .inputEmail
    margin: 0 auto
    text-align: center
    margin-top: 20px
    .input
      padding: 5px 20px
      margin-right: 2px
      border-radius: 2px


// CONTACT
.form
  max-width: 400px
  margin: 100px auto
  @media (min-width: 991px)
    margin: 250px auto
  input , textarea
    border: 3px solid white
    width: 100%
    padding: 10px
    @media (min-width: 991px)
      margin-bottom: 25px
    &:focus
      outline: none
      border: 3px solid #1b6c62

  [type="submit"]

    color: white
    font-size: 18px
    text-transform: uppercase
    margin-top: 20px
    background-color: #1b6c62
    border: 1px solid #1b6c62
    border-radius: 5px
    width: 100%
  textarea
    height: 10em
  .contact-info
    label
      width: 50%


      float: left

      &:nth-child(1)
        padding-right: 5px
      &:nth-child(2)
        padding-left: 5px
  label
    display: block
    margin-bottom: 20px
    span
      display: block
      margin-bottom: 10px
      color: white
      font-size: 1.2em
      text-transform: uppercase
      letter-spacing: 0.1em


.titleContact
    color: #888
    font-size: 22px
    text-align: center
    margin-top: 80px

.socialLinks
  margin: 100px auto
  max-width: 430px

  a
    display: block
    width: 400px
    margin-top: 25px
    margin-bottom: 50px
    font-size: 22px
    color: white
    text-decoration: none
    background-color: #1b6c62
    padding: 20px 20px
    border-radius: 5px
    @media (max-width: 426px)
      font-size: 15px
      padding: 20px 10px
      width: 290px
      margin: 45px auto
      text-align: center


    p
      font-size: 15px
      display: inline-block
.music-player
  margin: 100px auto
  display: block
  .image-box
    margin: 20px auto
    text-align: center
  



  .music-box
    margin: 0 auto
    display: block
    width: 300px
  h3
    text-align: center
    text-transform: uppercase
    margin-bottom: 20px
  a
    color: white
    font-size: 10px
    text-transform: uppercase
    padding: 10px 20px
    margin: 20px auto
    background-color: #1b6c62
    border: 1px solid #1b6c62
    border-radius: 5px
    width: 200px
    display: block
    text-align: center
    text-decoration: none
.video-section
  width: 60%
  margin: 180px auto
  hr
    opacity: 0.1
  .video-container1
    width: 100%
    height: 0
    padding-bottom: 56.25%
    position: relative
    margin-top: 80px
    margin-bottom: 100px
    iframe
      position: absolute
      width: 100%
      height: 100%


    h2
      text-align: center
      text-transform: uppercase
      color: rgba (0,0,0,0.7)
      font-size: 1.2em
    a
      color: white
      font-size: 10px
      text-transform: uppercase
      padding: 10px 20px
      margin: 20px auto
      background-color: #1b6c62
      border: 1px solid #1b6c62
      border-radius: 5px
      width: 200px
      display: block
      text-align: center
      text-decoration: none
  .video-container2
    width: 100%
    height: 0
    padding-bottom: 56.25%
    position: relative
    margin-top: 80px
    margin-bottom: 100px
    iframe
      position: absolute
      width: 100%
      height: 100%

    h2
      text-align: center
      text-transform: uppercase
      color: rgba (0,0,0,0.7)
      font-size: 1.2em
    a
      color: white
      font-size: 10px
      text-transform: uppercase
      padding: 10px 20px
      margin: 20px auto
      background-color: #1b6c62
      border: 1px solid #1b6c62
      border-radius: 5px
      width: 200px
      display: block
      text-align: center
      text-decoration: none

  .video-container3
    width: 100%
    height: 0
    padding-bottom: 56.25%
    position: relative
    margin-top: 80px
    margin-bottom: 100px
    iframe
      position: absolute
      width: 100%
      height: 100%

    h2
      text-align: center
      text-transform: uppercase
      color: rgba (0,0,0,0.7)
      font-size: 1.2em
    a
      color: white
      font-size: 10px
      text-transform: uppercase
      padding: 10px 20px
      margin: 20px auto
      background-color: #1b6c62
      border: 1px solid #1b6c62
      border-radius: 5px
      width: 200px
      display: block
      text-align: center
      text-decoration: none

  .video-container4
    width: 100%
    height: 0
    padding-bottom: 56.25%
    position: relative
    margin-top: 80px
    margin-bottom: 100px

    iframe
      position: absolute
      width: 100%
      height: 100%

    h2
      text-align: center
      text-transform: uppercase
      color: rgba (0,0,0,0.7)
      font-size: 1.2em
    a
        color: white
        font-size: 10px
        text-transform: uppercase
        padding: 10px 20px
        margin: 20px auto
        background-color: #1b6c62
        border: 1px solid #1b6c62
        border-radius: 5px
        width: 200px
        display: block
        text-align: center
        text-decoration: none
