
body {
	background-color:#000;
}

.row{
	
	
    margin: 5em 20%;


}
	
figure{
	position:relative;
	opacity:0;
	
	transform: translateX(200px);
	transition: all 1s ease;
	}
	
figure.is-showing{
	opacity:1;
	transform: translateX(0px);

	
	
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	color:#888888;
	 margin: 0 10%;
}

p {
	font-family: 'Ubuntu', sans-serif;
	color:#FFF;
	 margin: 0 10%;
}
hr {
	display: block;
    height: 1px;
    border-top: 1px solid #777;
    margin: 4em 10%;
  
}

.container{
	background-color:#000;
	position:relative;
	left:0px;
	right:0px;
	z-index: 1;
}
.whiteSpace {
	height:2000px;
	background-color:#000;
}

.container-fluid{
	
	margin: 5em 10%;
	position:relative;
	z-index: 1;
	margin-bottom:100px;
	
	
}



/* Parallax */

.backgroundImg {

	background : url("img/parallax2.png");
	position: relative;
	height:538px;
	background-size: auto 538px;
	background-position: top center;
	background-attachment:fixed;
	overflow:hidden;
	
	
}

.logo{
	height:600px;
	width:100%;
	background-image: url("img/pinnedcrookslogo.png");
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	top:50%;
	margin-top: -300px;
}
.instrument1{
	width:400px;
	height:300px;
	background-image: url("img/guitar.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	position:absolute;
	left:70%;
	top:75%;

	
}

.instrument2{
	width:400px;
	height:300px;
	background-image: url("img/drums.png");
	background-repeat:no-repeat;
	background-position: left bottom;
	position:absolute;
	right:70%;
	top:75%;

	
}

footer {
	background:white;
	color:black;
	padding: 20px 0;
	position:static;
	bottom:0;
	width:100%;
	z-index:-3;
	
}

footer .a{
	color:black;
}
footer .footer-stuff {
	max-width :400px;
	margin : 0 auto;
	font-family: 'Ubuntu', sans-serif;
	color:black;
}

footer .awsomeFontIcons > a{
	color:black;
	margin: 1em;
	text-decoration:none;
}



