
body {
	background-color:#000;
}

.row{
	
	
    margin: 5em 20%;


}


	
figure{
	position:relative;
	opacity:0;
	display:block;
	transform: translateX(200px);
	transition: all 1.2s ease-in-out;
	overflow:hidden;


}
	
figure.is-showing{
	opacity:1;
	transform: translateX(0px);
	


}


h2 {
	font-family: 'Ubuntu', sans-serif;
	color:#888888;
	 margin: 0 10%;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	color:#888888;
	 margin: 0 10%;
}

p {
	font-family: 'Ubuntu', sans-serif;
	color:#FFF;
	 margin: 0 10%;
}
hr {
	display: block;
    height: 1px;
    border-top: 1px solid #777;
    margin: 4em 10%;
  
}

.container{
	background-color:#000;
	position:relative;
	left:0px;
	right:0px;
	
}
.whiteSpace {
	height:400px;
	background-color:#000;
}

.container-fluid{
	
	margin: 5em 10%;
	position:relative;
	margin-bottom:100px;
	
	
}



/* Parallax */

.backgroundImg {

	background : url("img/parallax2.png");
	position: relative;
	height:538px;
	background-size: auto 538px;
	background-position: top center;
	background-attachment:fixed;
	overflow:hidden;
	
	
}

.logo{
	height:600px;
	width:100%;
	background-image: url("img/pinnedcrookslogo.png");
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	top:50%;
	margin-top: -300px;
}
.instrument1{
	width:400px;
	height:300px;
	background-image: url("img/2.png");
	background-repeat:no-repeat;
	background-position: right bottom;
	position:absolute;
	left:70%;
	top:75%;

	
}

.instrument2{
	width:400px;
	height:300px;
	background-image: url("img/3.png");
	background-repeat:no-repeat;
	background-position: left bottom;
	position:absolute;
	right:70%;
	top:75%;

	
}

footer {
	background:#1b786d;
	color:black;
	padding: 20px 0;
	position:static;
	bottom:0;
	width:100%;
	
	
	
}

footer .a{
	color:black;
}
footer .footer-stuff {
	max-width :400px;
	margin : 0 auto;
	font-family: 'Ubuntu', sans-serif;
	color:black;
}

footer .awsomeFontIcons > a{
	color:black;
	margin: 0 auto;
	text-decoration:none;
	text-align:center;
}


.galleryButton {
	border: 1px solid #888;
	margin:20%;
	font-family: 'Ubuntu', sans-serif;
	font-size:2em;
	border-radius:15%;
	padding:20px 30px;
	transform : translate(0px , 300px);
	background:black;
	display:block;
	text-align:center;
} 

.contactButton {
	border: 1px solid #888;
	margin:20%;
	font-family: 'Ubuntu', sans-serif;
	font-size:2em;
	border-radius:15%;
	padding:20px 30px;
	transform : translate(0px , 300px);
	background:black;
	text-align:center;
	
} 
.videoButton  {
	border: 1px solid #888;
	margin:20%;
	font-family: 'Ubuntu', sans-serif;
	font-size:2em;
	border-radius:15%;
	padding:20px 30px;
	transform : translate(0px , 300px);
	background:black;
	text-align:center;
	
}

.musicButton {
	border: 1px solid #888;
	margin:20%;
	font-family: 'Ubuntu', sans-serif;
	font-size:2em;
	border-radius:15%;
	padding:20px 30px;
	transform : translate(0px , 300px);
	background:black;
	text-align:center;
}


.contactButton:hover , .videoButton:hover, .galleryButton:hover  , .musicButton:hover{
	color:white;
	border: 1px solid white;
	cursor:pointer;
	
}

.buttonRow {
	margin-top:8em;
	position:relative;
	transform: translateX(0px);
	transition: all 4s ease-in-out;
	opacity:0;
}
.buttonRow.buttonsAreShowing{
	
	transform: translateY(-300px);
	opacity:1;
}

figcaption {
	position:absolute;
	bottom:20px;
	left:0px;
	background:black;
	color:white;
	padding: 2px 8px;
	font-size:1em;
	transition : all 1.5s ease-in-out;
	opacity:0;

}

/* Change another Element style when hover on another element */

figure:hover + figcaption {
	opacity:0.8;
}

.memberImage1:hover ,.memberImage2:hover , .memberImage3:hover , .memberImage4:hover {
	opacity : 0.4;
	cursor:pointer;
}






